body{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    color: rgb(var(--main));
    background-color: rgb(var(--dark));
    --dark: 28, 28, 28;
    --main: 106, 255, 151;
}

html{
    font-size: 14px;
    scroll-behavior: smooth;
}

.navbar{
    position: sticky;
    top: 0;
    background-color: rgb(var(--dark));
}

.navbar.responsive li:not(.icon){
    display: block;
}

.navbar:not(.responsive) li:not(.icon){
    display: none;
}

.navbar ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li{
    float: left;
    transition: box-shadow .15s ease-in-out;
}

.navbar li a{
    display: block;
    padding: 1rem 1rem;
    font-size: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-style: normal;
}

.navbar .icon{
    display: block;
    float: right;
}

.navbar li:not(.icon){
    width: 100%;
}

.active{
    background-color: rgb(var(--main));
    color: rgb(var(--dark));
    font-weight: bold;
}

.frame-buttom{
    border-bottom: 1px solid grey;
}

.frame-top{
    border-top: 1px solid grey;
}

a{
    text-decoration: none;
    font-style: italic;
}

ul{
    list-style-type: none;
}

a:visited, a:link, a:active{
    color: inherit;
}

a:hover{
    font-weight: bold;
    cursor: pointer;
}

section{
    min-height: 90vh;
    height: 100%;
    margin: 0 1rem;
}

.fa.fa-bars{
    color: rgb(var(--main));
}

.pin{
    font-size: 1.5rem;
}

.pin i{
    color: black;
}

.round-image{
    width: 12rem;
    height: 12rem;
    box-shadow: 0 0 10px 0 rgb(var(--dark));
    border-radius: 50%;
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-top{
    justify-content: flex-start;
}

.text-container{
    text-align: center;
    line-height: 1.2rem;
    box-shadow: inset 0 0 1rem  black;
    padding: 4rem 2rem;
}

.icon-container{
    display: flex;
    flex-wrap: wrap;
    box-shadow: inset 0 0 1rem  black;
    justify-content: space-evenly;
}

.icon-container div{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 2rem;
}

.icon-container i{
    font-size: 4.5rem;
}

.icon-container p{
    line-height: 0px;
    margin: 0;
}

section h1{
    font-size: 3.5rem;
    font-weight: normal;
}

section *{
    margin: 1rem 0;
    text-align: center;
}

footer{
    display: flex;
    flex-direction: column;
    height: 16vh;
    justify-content: center;
}

footer div{
    justify-content: center;
    text-align: center;
    margin: .2rem;
    height: 100%;
    line-height: 0;
}

footer .social{
    display: flex;
    flex: 0 0;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 1rem;
}

footer .social span{
    font-size: 1.4rem;
    margin: 0 .5rem;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: rgb(var(--dark));
}

::-webkit-scrollbar-thumb{
    background: rgb(var(--main));
}

::-webkit-scrollbar-thumb:hover{
    background: rgba(var(--main), .7);
}

@media screen and (min-width: 768px){
    body{
        margin: 0;
    }

    html{
        font-size: 20px;
    }

    section{
        margin: 0 6rem;
    }

    footer{
        height: 20vh;
    }

    .navbar{
        position: fixed;
        margin: 0 5rem;
        padding-top: 4rem;
        background: transparent;
    }

    .navbar li:not(.active, .icon):hover{
        box-shadow:
            inset 0 -.5rem 0 0 rgb(var(--main)),
            inset 0 .5rem 0 0 rgb(var(--main));
    }

    .navbar .icon{
        display: none;
    }

    .navbar li:not(.icon),
    .navbar:not(.responsive) li:not(.icon){
        display: block;
        float: left;
        width: auto;
        margin: 0 1rem;
    }

    .frame-buttom{
        border: none;
    }
}
