body{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    color: rgb(var(--main));
    background-color: rgb(var(--dark));
    --dark: 28, 28, 28;
    --main: 106, 255, 151;
    --warn: 255, 100, 100;
}

html{
    font-size: 14px;
    scroll-behavior: smooth;
}

#page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar{
    position: sticky;
    top: 0;
    background-color: rgb(var(--dark));
    z-index: 1;
}

.navbar.responsive li:not(.icon){
    display: block;
}

.navbar:not(.responsive) li:not(.icon){
    display: none;
}

.navbar ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li{
    float: left;
    transition: box-shadow .15s ease-in-out;
}

.navbar li a{
    display: block;
    padding: 1rem 1rem;
    font-size: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-style: normal;
    transition: all .2s linear;
}

.navbar .icon{
    display: block;
    float: right;
}

.navbar li:not(.icon){
    width: 100%;
}

.navbar li.active{
    background-color: rgb(var(--main));
    color: rgb(var(--dark));
    font-weight: bold;
}

.frame-buttom{
    border-bottom: 1px solid grey;
}

.frame-top{
    border-top: 1px solid grey;
}

a{
    text-decoration: none;
    font-style: italic;
}

ul{
    list-style-type: none;
}

a:visited, a:link, a:active{
    color: inherit;
}

a:hover{
    font-weight: bold;
    cursor: pointer;
}

section{
    min-height: 100vh;
    width: 95%;
}

.fa.fa-bars{
    color: rgb(var(--main));
}

.pin{
    font-size: 1.5rem;
}

.pin i{
    color: black;
}

.round-image{
    width: 12rem;
    height: 12rem;
    box-shadow: 0 0 10px 0 rgb(var(--dark));
    border-radius: 50%;
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-top{
    justify-content: flex-start;
}

.text-container{
    text-align: center;
    line-height: 1.2rem;
    padding: 4rem 2rem;
}

.icon-container{
    display: flex;
    flex-wrap: wrap;
    box-shadow: inset 0 0 1rem  black;
    justify-content: space-evenly;
}

.icon-container div{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 2rem;
}

.icon-container i{
    font-size: 4.5rem;
}

.icon-container p{
    line-height: 0px;
    margin: 0;
}

.error{
    border: 1px solid rgb(var(--warn));
}

.carousel{
    position: relative;
    display: flex;
    width: 100%;
    height: 55vh;
    justify-content: center;
}

.carousel .slides{
    position: inherit;
    top: 100%;
}

.carousel .slides *{
    margin: 0 .25rem;
}

.carousel .slides *.active{
    opacity: 1;
}

.carousel .slides *:not(.active){
    opacity: .2;
}

.carousel .slides *:hover{
    cursor: pointer;
}

.carousel .content .card{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    background-color: transparent;
}

.carousel .content .card img{
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    transition: opacity 1.5s linear;
}

.carousel .content .card:not(.active) img{
    opacity: 0;
    transition: opacity 1.5s linear;
}

img:hover{
    cursor: pointer;
}

.carousel .content .card.active .overlay{
    position: absolute;
    height: 25%;
    width: 100%;
    bottom: -1rem;
    padding-top: 5%;
    background-image: linear-gradient(to top, rgba(var(--main), .9), rgba(var(--main), 0));
    color: rgb(var(--dark));
}

.carousel .content .card.active .overlay *{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.carousel .input{
    position: absolute;
    top: 40%;
    font-size: 2.5rem;
    padding: 1rem;
}

.carousel .input:hover{
    background-color: rgba(var(--dark), .6);
}

.carousel .input:nth-child(2){
    left: 0;
}

.carousel .input:nth-child(3){
    right: 0;
}

.carousel .input:hover{
    cursor: pointer;
}

.carousel .content .card.active:hover{
    cursor: pointer;
}

section h1{
    font-size: 3.5rem;
    font-weight: normal;
}

section *{
    margin: 1rem 0;
    text-align: center;
}

footer{
    display: flex;
    flex-direction: column;
    height: 5rem;
    justify-content: center;
    line-height: 0;
}

footer .social{
    display: flex;
    flex: 0 0;
    justify-content: center;
    flex-direction: row;
}

footer .copy{
    text-align: center;
    margin-bottom: 0;
}

footer .social span{
    font-size: 1.6rem;
    margin: 0 .8rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 90%;
}

form *{
    margin: .5rem 0;
    background: rgb(var(--dark));
    border: none;
    color: rgb(var(--main));
    font-family: 'Fredoka', sans-serif;
    width: inherit;
}

form p{
    margin-bottom: 0;
    color: rgb(var(--warn));
}

form input,
form textarea{
    box-shadow: inset 0 0 5px 0 black;
    padding: 8px;
    font-size: 1rem;
}

textarea{
    resize: none;
}

input:focus,
button:focus,
textarea:focus{
    outline: none;
}

input[type=submit]{
    background: rgb(var(--main));
    color: rgb(var(--dark));
    font-weight: bold;
    text-transform: uppercase;
}

input[type=submit]:hover{
    background: rgba(var(--main), .7);
}

input[type=submit]:disabled{
    background: rgba(var(--main), .5);
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: rgb(var(--dark));
}

::-webkit-scrollbar-thumb{
    background: rgb(var(--main));
}

::-webkit-scrollbar-thumb:hover{
    background: rgba(var(--main), .7);
}

@media screen and (min-width: 780px) {
    html{
        font-size: 17px;
    }

    section{
        width: 70%;
    }
}

@media screen and (min-width: 1080px){
    body{
        margin: 0;
    }

    html{
        font-size: 20px;
    }

    section{
        width: 50%;
    }

    form *{
        width: 50%;
    }

    .navbar{
        position: fixed;
        background: transparent;
        width: 100%;
        margin: 5vw;
        transition: all .2s linear;
        z-index: 0;
    }

    .navbar li:not(.active, .icon):hover{
        box-shadow:
            inset 0 -.5rem 0 0 rgb(var(--main)),
            inset 0 .5rem 0 0 rgb(var(--main));
    }

    .navbar .icon{
        display: none;
    }

    .navbar li:not(.icon),
    .navbar:not(.responsive) li:not(.icon){
        display: block;
        float: none;
        min-width: 12%;
        width: fit-content;
        text-align: center;
        margin: 1rem 0;
    }

    .navbar.onscroll{
        margin: 1vw;
    }

    .navbar.onscroll li a{
        font-size: 1.8vw;
    }

    .frame-buttom{
        border: none;
    }
}
